<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>
	<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
    <scheme name="br" dll="%ProgramFiles%\IIS\IIS Compression\iisbrotli.dll" />
    <scheme name="gzip" dll="%ProgramFiles%\IIS\IIS Compression\iiszlib.dll" />
	</httpCompression>
        <rewrite>
            <rules>
                <rule name="main">
                    <match url="app(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:7000/{R:2}" />
                </rule>
                <rule name="index" patternSyntax="ExactMatch">
                    <match url="\" />
                    <action type="Rewrite" url="\index.html" />
                </rule>
            </rules>
        </rewrite>
        <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
    </system.webServer>
	
</configuration>
